<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="PopulationConnectionString" connectionString="Data Source=10.115.96.147;Initial Catalog=MPKisaa;User ID=Fertilizer;Password=Fertilizer#123;Pooling=true;Max Pool Size=200;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>